@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: #007AFF;
}
form{
    background-color: white;
    padding: 10px;
    max-width: 260px;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 40%;
    right: 40%;
}
input{
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
    font-size: 20px;
    display: block;
    color: white;
    background-color: black;
}
