@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    padding: 10px;
}
.header{
    display: flex;
    justify-content: space-between;

}
.tr1{
    background-color: coral;
}
td{
    border: 1px solid black;
    padding: 5px;
}
.tr2{
    background-color: #007AFF;
    color: white;
}
.table{
    border: 1px solid;
    border-right: 5px;
}

.form{
    background-color: #007AFF;
    max-width: 315px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#input{
    display: block;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 10px;
}

a{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    background-color: #007AFF;
    padding: 10px;
    border-radius: 5px;
}

.change{
    padding-top: 10px;
}